.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.black-border {
  border: 1px solid rgb(151, 149, 149);
  border-radius: 2px;
}

.padding-xs {
  padding:15px;
}

.overflow-scroll {
  overflow: scroll;
}

.height-med {
  height: 100px;
}

.margin-top-md{
  margin-top: 30px;
}

.update-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.update-btn:hover {
  background-color: rgb(230, 230, 230);
}