form.search {
  overflow: auto;
  margin-bottom: 10px;
  padding: 15px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}

button {
  margin: 5px;
}

.search-btn {
  background-color: #C59BF2;
}

.panel-heading {
  background-color: rgb(173, 117, 173);
}


.panel {
  border: 1px solid black;
}