.mainbody {
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin: 0px;
}

.panel-heading {
  background-color: rgb(172,119,172);
}


.body-contents {
  width: 100%;
  overflow: scroll;
}

.panel-heading h3 {
  text-align: center;
}