#well-section {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.panel-heading {
  background-color: rgb(173, 117, 173);
}


.search-results{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.panel-small{
  width: 80%;
  margin: 0 auto;
}

