.rating-survey {
  position: relative;
  
}

.survey-poster {
  height: 400px;
  width: auto;
}

.rating-survey input {
  display: none;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 follow these rules. Every browser that supports :checked also supports :not(), so
 it doesn’t make the test unnecessarily selective */
.rating-survey:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating-survey:not(:checked) > label {
  float:right;
  width:3em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
}

.rating-survey:not(:checked) > label:before {
  content: '★ ';
}

.rating-survey > input:checked ~ label {
  color: gold;
}

.rating-survey:not(:checked) > label:hover,
.rating-survey:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating-survey > input:checked + label:hover,
.rating-survey > input:checked + label:hover ~ label,
.rating-survey > input:checked ~ label:hover,
.rating-survey > input:checked ~ label:hover ~ label,
.rating-survey > label:hover ~ input:checked ~ label {
  color: gold;
}

.rating-survey > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.survey-questions {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  text-align: center;
}

.survey-questions img {
  margin-top: 9px;
}

.star-buttons {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.question-number {
  float: left;
  position: absolute;
}





