.asterisk {
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}

.top-movies {
  padding-top: -10px;
}

.top-movies a {
  color: black;
}

.top-movies a:hover {
  color: blue;
}

.top-movies h3 {
  font-size: 20px;
  font-weight: bold;
}


