.top-matches ul button {
  float: right; 
}

.float-left {
  float: left;
  text-align: center;
}



.float-right button{
  position: absolute;
  right: 0;
  bottom: 0;
}

.content {
  margin-left: 25%;
}

.heading {
  font-weight: bold;
  text-decoration: underline;
}

fieldset {
  position: relative;
}

.checked {
  color: orange;
}

.btn:disabled{ 
  color: rgb(90, 90, 90);
}