.sidebar {
  background-color: #eee7fb;
  height: auto;
  width: auto;
  border-radius: 3px;
  margin-top: 0px;
}

.sidebar h3 {
  text-align: center;
}

.panel-heading {
  background-color: #8766CC;
  color: white;
}

.panel-body {
  padding-top: 15px;
  position: relative;
}


.panel-body img {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.panel-body button {
  margin-left: auto;
	margin-right: auto;
	display: block;
}
 



