.nav {
  border: 1px solid gray;
  border-radius: 5px;
}

.nav-link {
  color: white;
}

.navbar {
  background-color: rgb(173, 117, 173);
  margin: 0;
  height: 55px;
}

.navbar a {
  color: white;
}

.navbar button {
  position: absolute;
  margin-top: 1px;
}

.navbar form {
  margin-left: 30%;
}

.mmrdb-logo{
  color: gold;
}


