.nav {
  border: 1px solid gray;
  border-radius: 5px;
}

.nav-link {
  color: white;
}

.navbar {
  background-color: #8766CC;
  margin: 0;
  height: 53px;
}

.navbar a {
  color: white;
}

.navbar button {
  position: absolute;
  margin-top: 1px;
}

.navbar form {
  margin-left: 23%;
}

.mcr-logo{
  font-size: 1.2em;
  color: gold;
  
 
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.navbar-brand {
  background-color: #54407F;
}

.navbar-header {
  text-align: center;
}


