.movie-display {
  background-color: rgb(238, 231, 252);
}



.movie-display-body h2 {
  text-align: center
}

.plot {
  text-align: center;
  margin-top: 2%;
  font-size: 1.1em;
}

.black-border {
  border: 1px solid black;

}

.inline {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.inline p {
  display: inline;
  padding: 12px;
}

.underline-text {
  text-decoration: underline;
}